body {
    background: url(photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
    text-align: center;
}

.constrain {
    position: relative;
}

.div1 {
    margin-top: 40px;
    height: 550px;
    width: 550px;
    background-color: white;
    margin-left: 300px;
    position: absolute;
}

.div2 {
    background-color: white;
    height: 500px;
    width: 420px;
    margin-top: 25px;
    margin-left: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 5px gray;
}

.div3 {
    height: 625px;
    width: 300px;
    background-color: rgb(45, 45, 182);
    opacity: 0.8;
    float: right;
    position: relative;
}

.list {
    list-style: none;
}

.blist {
    float: right;
    margin-right: 20px;
    background-color: rgb(8, 8, 8);
    margin-top: 20px;
    font-style: bold;
    font-size: 23px;
    color: white;
    height: 30px;
    width: 30px;
    border-color: black;
}

.list a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    padding-top: 60px;
}

.blue {
    color: blue;
    padding-top: 50px;
}

.inputs {
    height: 30px;
    width: 280px;
    margin-top: 30px;
    color: rgb(194, 187, 187);
    font-size: 15px;
    border-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray;
}

.blue1 {
    height: 30px;
    width: 280px;
    margin-top: 30px;
    background-color: blue;
    border-color: white;
    color: white;
    border-radius: 10px;
}

.blue2 {
    display: inline-flex;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}